<div class="page-index">
  <div class="first-screen clearfix">
    <div class="service-list">
      <ul class="clearfix">
        <li><a href="/item/detail"><span class="quanfont icon-nvzhuangleimu"></span>女装</a></li>
        <li><a href=""><span class="quanfont icon-nanzhuangleimu"></span>男装</a></li>
        <li><a href=""><span class="quanfont icon-xiebaopeishileimu"></span>鞋子</a></li>
        <li><a href=""><span class="quanfont icon-xiangbaoleimu"></span>箱包</a></li>
        <li><a href=""><span class="quanfont icon-meizhuangleimu"></span>美妆</a></li>
        <li><a href=""><span class="quanfont icon-nvzhuangleimu"></span>护肤</a></li>
        <li><a href=""><span class="quanfont icon-nvzhuangleimu"></span>生活</a></li>
        <li><a href=""><span class="quanfont icon-nvzhuangleimu"></span>居家</a></li>
        <li><a href=""><span class="quanfont icon-nvzhuangleimu"></span>美食</a></li>
        <li><a href=""><span class="quanfont icon-nvzhuangleimu"></span>内衣</a></li>
        <li><a href=""><span class="quanfont icon-nvzhuangleimu"></span>运动</a></li>
        <li><a href=""><span class="quanfont icon-nvzhuangleimu"></span>数码</a></li>
        <li><a href=""><span class="quanfont icon-nvzhuangleimu"></span>母婴</a></li>
        <li><a href=""><span class="quanfont icon-nvzhuangleimu"></span>配饰</a></li>
        <li class="last"><a href=""><span class="quanfont icon-nvzhuangleimu"></span>成人</a></li>
        <li class="last"><a href=""><span class="quanfont icon-nvzhuangleimu"></span>宠物</a></li>
      </ul>
    </div>
    <div class="slider">
      <ul class="unslider-container">
        <li>
          <a href=""><img src="http://eimg.smzdm.com/201706/15/5941df14743658865.png"></a>
        </li>
        <li>
          <a href=""><img src="http://eimg.smzdm.com/201706/10/593c06c1798624411.jpg"></a>
        </li>
        <li>
          <a href=""><img src="http://eimg.smzdm.com/201706/17/59449bc4676661609.png"></a>
        </li>
      </ul>
    </div>

    <div class="promo">
      <ul>
        <li>
          <a href="/act"><img src="https://img30.360buyimg.com/da/s386x260_jfs/t6109/216/1867094882/104712/51f0fa02/593777f3N9d911ae6.jpg!q90"></a>
        </li>
        <li>
          <a href="/act"><img src="https://img1.360buyimg.com/da/s386x260_jfs/t5764/163/2342881141/69477/d2dbde10/592fcb7fN3583f576.jpg!q90"></a>
        </li>
        <li>
          <a href="/act"><img src="https://img11.360buyimg.com/da/s386x260_jfs/t4150/36/2564742015/76387/81e6856/58d36a7dNf23b3c09.jpg!q90"></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="high-quality">
    <div class="block-module">
      <div class="block-hd"><h2 class="title">每日精选</h2></div>
      <div class="block-bd clearfix">
        <div class="item">
          <a href="">
            <img src="http://tp-y.zdmimg.com/201701/06/586fa275df4b56826.jpg_d200.jpg">
            <span class="title">HiFiMAN 头领科技  HE1000 头戴式平板振膜耳机</span>
            <span class="price">
              <span class="tag tag-coupon">
                <span class="icon"></span>
                <span class="money">
                  <span>1000</span>元
                </span>
              </span>
            </span>
            <span class="price color-l">现价：{{{12000|toMoneySymbol}}}</span>
            <span class="price color-brand">
              <span>券后价：</span>
              <span class="number number-16">{{{11000|toMoneySymbol}}}</span>
            </span>
          </a>
        </div>
        <div class="item">
          <a href="">
            <img src="http://tp-y.zdmimg.com/201704/14/58f0480425c762059.jpg_d200.jpg">
            <span class="title">历史新低 : new balance 990 V3 男款/女款慢跑鞋 正常/FACTORY SECOND版</span>
            <span class="price">
              <span class="tag tag-coupon">
                <span class="icon"></span>
                <span class="money">
                  <span>60</span>元
                </span>
              </span>
            </span>
            <span class="price color-l">现价：{{{400|toMoneySymbol}}}</span>
            <span class="price color-brand">
              <span>券后价：</span>
              <span class="number number-18">{{{340|toMoneySymbol}}}</span>
            </span>
          </a>
        </div>
        <div class="item">
          <a href="">
            <img src="http://tp-y.zdmimg.com/201706/12/593e5121bf7858353.jpg_d200.jpg">
            <span class="title">CITIZEN 西铁城 Eco-Drive AT9010-52E 男款光动能腕表</span>
            <span class="price">
              <span class="tag tag-coupon">
                <span class="icon"></span>
                <span class="money">
                  <span>160</span>元
                </span>
              </span>
            </span>
            <span class="price color-l">现价：{{{1600|toMoneySymbol}}}</span>
            <span class="price color-brand">
              <span>券后价：</span>
              <span class="number number-18">{{{1440|toMoneySymbol}}}</span>
            </span>
          </a>
        </div>
        <div class="item">
          <a href="">
            <img src="http://tp-y.zdmimg.com/201507/17/55a8a83760843.jpeg_d200.jpg">
            <span class="title">CarSetCity 卡饰社 快速冷风座垫 经典款 *2件</span>
            <span class="price">
              <span class="tag tag-coupon">
                <span class="icon"></span>
                <span class="money">
                  <span>20</span>元
                </span>
              </span>
            </span>
            <span class="price color-l">现价：{{{190|toMoneySymbol}}}</span>
            <span class="price color-brand">
              <span>券后价：</span>
              <span class="number number-18">{{{170|toMoneySymbol}}}</span>
            </span>
          </a>
        </div>
        <div class="item">
          <a href="">
            <img src="http://tp-y.zdmimg.com/201706/12/593e42296a0ff4082.jpg_d200.jpg">
            <span class="title">BenQ 明基 W1110 投影机 + 3D眼镜*2副 </span>
            <span class="price">
              <span class="tag tag-coupon">
                <span class="icon"></span>
                <span class="money">
                  <span>120</span>元
                </span>
              </span>
            </span>
            <span class="price color-l">现价：{{{6000|toMoneySymbol}}}</span>
            <span class="price color-brand">
              <span>券后价：</span>
              <span class="number number-18">{{{5880|toMoneySymbol}}}</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="feed">
    <div class="block-module">
      <div class="block-hd clearfix">
        <h2 class="title fl">发现好货</h2>
        <a href="/channel/haohuo" class="mt10 fr">查看全部</a>
      </div>
      <div class="block-bd clearfix">
        <div class="block-list">
          <div class="img">
            <a class="list-item-img" href="http://item.taobao.com/item.htm?id=552515447310">
              <img src="http://tp-y.zdmimg.com/201706/12/593e9fc914d4d5453.jpg_d200.jpg">
            </a>
          </div>
          <ul class="attr">
            <li class="title">
              <span class="fr favor-container" title="收藏数">
                <span class="quanfont icon-favor color-l mr5"></span>
                <span class="color-l f14">0</span>
              </span>
              <a target="_blank" href="http://item.taobao.com/item.htm?id=552515447310">Onitsuka Tiger 鬼塚虎 SERRANO D109L 中性运动休闲鞋</a>
            </li>
            <li class="descripe">
              <span class="color-m mr10">Onitsuka Tiger是Asics的前身，曾是李小龙的最爱，他将复古与时尚融合一体，伴随着复古运动鞋的兴起，深受欧美市场的喜爱。近两年来，鬼塚虎进入国内的步伐越来越快，多数商场开设了旗舰店、专柜，各大电商也都能见到他的身影...</span>
              <a href="" class="color-blue">查看详情</a>
            </li>
            <li class="clearfix">
              <div class="fl">
                <span class="tag-container mr20">
                  <span class="tag tag-taobao"></span>
                  <span class="color-l">淘宝</span>
                </span>
                <span class="tag-container mr20">
                  <span class="tag tag-coupon">
                    <span class="icon"></span>
                    <span class="money">
                      <span>25</span>元
                    </span>
                  </span>
                </span>
                <span class="color-l mr20">现价：¥328.8</span>
                <span class="color-brand number number-18">
                  <span>券后价：</span>
                  <span class="yuan" p-id="7818">￥</span>
                  <span class="integer" p-id="7820">264</span>
                  <span class="pointer" p-id="7822">.</span>
                  <span class="decimal" p-id="7824">99</span>
                </span>
              </div>
              <div class="fr">
                <a href="" class="btn btn-brand">立即领券购买</a>
              </div>
            </li>
          </ul>
        </div>

        <div class="block-list">
          <div class="img">
            <a class="list-item-img" href="http://item.taobao.com/item.htm?id=552515447310">
              <img src="http://y.zdmimg.com/201706/13/593f4c50299903254.jpg_d200.jpg">
            </a>
          </div>
          <ul class="attr">
            <li class="title">
              <span class="fr favor-container" title="收藏数">
                <span class="quanfont icon-favor color-l mr5"></span>
                <span class="color-l f14">2</span>
              </span>
              <a target="_blank" href="http://item.taobao.com/item.htm?id=552515447310"> Ostelin 奥斯特林 婴幼儿液体维生素D滴剂 草莓味 20ml </a>
            </li>
            <li class="descripe">
              <span class="color-m mr10">方便控制量，草莓口味，单买好价。Ostelin是家跨国制药集团，总部位于法国巴黎的赛诺菲-安菲特，公司旗下专注于改善人体钙水平及维生素D水平的产品品牌。这款维他命D滴剂是专门针对婴儿和儿...</span>
              <a href="" class="color-blue">查看详情</a>
            </li>
            <li class="clearfix">
              <div class="fl">
                <span class="tag-container mr20">
                  <span class="tag tag-tmall"></span>
                  <span class="color-l">天猫</span>
                </span>
                <span class="tag-container mr20">
                  <span class="tag tag-coupon">
                    <span class="icon"></span>
                    <span class="money">
                      <span>5</span>元
                    </span>
                  </span>
                </span>
                <span class="color-l mr20">现价：¥32.8</span>
                <span class="color-brand number number-18">
                  <span>券后价：</span>
                  <span class="yuan" p-id="7818">￥</span>
                  <span class="integer" p-id="7820">26</span>
                  <span class="pointer" p-id="7822">.</span>
                  <span class="decimal" p-id="7824">99</span>
                </span>
              </div>
              <div class="fr">
                <a href="" class="btn btn-brand">立即领券购买</a>
              </div>
            </li>
          </ul>
        </div>

        <div class="block-list">
          <div class="img">
            <a class="list-item-img" href="http://item.taobao.com/item.htm?id=552515447310">
              <img src="http://tp-y.zdmimg.com/201706/09/58f01509751697836.jpg_d200.jpg">
            </a>
          </div>
          <ul class="attr">
            <li class="title">
              <span class="fr favor-container" title="收藏数">
                <span class="quanfont icon-favor color-l mr5"></span>
                <span class="color-l f14">4</span>
              </span>
              <a target="_blank" href="http://item.taobao.com/item.htm?id=552515447310"> 历史新低：DELIRIUM 粉象 （深粉*3/浅粉*3） 组合装 330ml*6瓶 *2件</a>
            </li>
            <li class="descripe">
              <span class="color-m mr10">深粉/浅粉组合装，低至7.33元/瓶~比利时啤酒以其独特的风格颇受啤酒爱好者的喜爱，其中人气很高也比较经典的就是今天推荐的“粉象”，浅粉和深粉象是受到关注度最高的，而两者的也有较大的差别。浅粉象喝的人比较多...</span>
              <a href="" class="color-blue">查看详情</a>
            </li>
            <li class="clearfix">
              <div class="fl">
                <span class="tag-container mr20">
                  <span class="tag tag-tmall"></span>
                  <span class="color-l">天猫</span>
                </span>
                <span class="tag-container mr20">
                  <span class="tag tag-coupon">
                    <span class="icon"></span>
                    <span class="money">
                      <span>60</span>元
                    </span>
                  </span>
                </span>
                <span class="color-l mr20">现价：¥32.8</span>
                <span class="color-brand number number-18">
                  <span>券后价：</span>
                  <span class="yuan" p-id="7818">￥</span>
                  <span class="integer" p-id="7820">26</span>
                  <span class="pointer" p-id="7822">.</span>
                  <span class="decimal" p-id="7824">99</span>
                </span>
              </div>
              <div class="fr">
                <a href="" class="btn btn-brand">立即领券购买</a>
              </div>
            </li>
          </ul>
        </div>

        <div class="block-list">
          <div class="img">
            <a class="list-item-img" href="http://item.taobao.com/item.htm?id=552515447310">
              <img src="http://tp-y.zdmimg.com/201706/12/593e9fc914d4d5453.jpg_d200.jpg">
            </a>
          </div>
          <ul class="attr">
            <li class="title">
              <span class="fr favor-container" title="收藏数">
                <span class="quanfont icon-favor color-l mr5"></span>
                <span class="color-l f14">0</span>
              </span>
              <a target="_blank" href="http://item.taobao.com/item.htm?id=552515447310">Onitsuka Tiger 鬼塚虎 SERRANO D109L 中性运动休闲鞋</a>
            </li>
            <li class="descripe">
              <span class="color-m mr10">Onitsuka Tiger是Asics的前身，曾是李小龙的最爱，他将复古与时尚融合一体，伴随着复古运动鞋的兴起，深受欧美市场的喜爱。近两年来，鬼塚虎进入国内的步伐越来越快，多数商场开设了旗舰店、专柜，各大电商也都能见到他的身影...</span>
              <a href="" class="color-blue">查看详情</a>
            </li>
            <li class="clearfix">
              <div class="fl">
                <span class="tag-container mr20">
                  <span class="tag tag-taobao"></span>
                  <span class="color-l">淘宝</span>
                </span>
                <span class="tag-container mr20">
                  <span class="tag tag-coupon">
                    <span class="icon"></span>
                    <span class="money">
                      <span>25</span>元
                    </span>
                  </span>
                </span>
                <span class="color-l mr20">现价：¥328.8</span>
                <span class="color-brand number number-18">
                  <span>券后价：</span>
                  <span class="yuan" p-id="7818">￥</span>
                  <span class="integer" p-id="7820">264</span>
                  <span class="pointer" p-id="7822">.</span>
                  <span class="decimal" p-id="7824">99</span>
                </span>
              </div>
              <div class="fr">
                <a href="" class="btn btn-brand">立即领券购买</a>
              </div>
            </li>
          </ul>
        </div>

        <div class="block-list">
          <div class="img">
            <a class="list-item-img" href="http://item.taobao.com/item.htm?id=552515447310">
              <img src="http://y.zdmimg.com/201706/13/593f4c50299903254.jpg_d200.jpg">
            </a>
          </div>
          <ul class="attr">
            <li class="title">
              <span class="fr favor-container" title="收藏数">
                <span class="quanfont icon-favor color-l mr5"></span>
                <span class="color-l f14">2</span>
              </span>
              <a target="_blank" href="http://item.taobao.com/item.htm?id=552515447310"> Ostelin 奥斯特林 婴幼儿液体维生素D滴剂 草莓味 20ml </a>
            </li>
            <li class="descripe">
              <span class="color-m mr10">方便控制量，草莓口味，单买好价。Ostelin是家跨国制药集团，总部位于法国巴黎的赛诺菲-安菲特，公司旗下专注于改善人体钙水平及维生素D水平的产品品牌。这款维他命D滴剂是专门针对婴儿和儿...</span>
              <a href="" class="color-blue">查看详情</a>
            </li>
            <li class="clearfix">
              <div class="fl">
                <span class="tag-container mr20">
                  <span class="tag tag-tmall"></span>
                  <span class="color-l">天猫</span>
                </span>
                <span class="tag-container mr20">
                  <span class="tag tag-coupon">
                    <span class="icon"></span>
                    <span class="money">
                      <span>5</span>元
                    </span>
                  </span>
                </span>
                <span class="color-l mr20">现价：¥32.8</span>
                <span class="color-brand number number-18">
                  <span>券后价：</span>
                  <span class="yuan" p-id="7818">￥</span>
                  <span class="integer" p-id="7820">26</span>
                  <span class="pointer" p-id="7822">.</span>
                  <span class="decimal" p-id="7824">99</span>
                </span>
              </div>
              <div class="fr">
                <a href="" class="btn btn-brand">立即领券购买</a>
              </div>
            </li>
          </ul>
        </div>

        <div class="block-list">
          <div class="img">
            <a class="list-item-img" href="http://item.taobao.com/item.htm?id=552515447310">
              <img src="http://tp-y.zdmimg.com/201706/09/58f01509751697836.jpg_d200.jpg">
            </a>
          </div>
          <ul class="attr">
            <li class="title">
              <span class="fr favor-container" title="收藏数">
                <span class="quanfont icon-favor color-l mr5"></span>
                <span class="color-l f14">4</span>
              </span>
              <a target="_blank" href="http://item.taobao.com/item.htm?id=552515447310"> 历史新低：DELIRIUM 粉象 （深粉*3/浅粉*3） 组合装 330ml*6瓶 *2件</a>
            </li>
            <li class="descripe">
              <span class="color-m mr10">深粉/浅粉组合装，低至7.33元/瓶~比利时啤酒以其独特的风格颇受啤酒爱好者的喜爱，其中人气很高也比较经典的就是今天推荐的“粉象”，浅粉和深粉象是受到关注度最高的，而两者的也有较大的差别。浅粉象喝的人比较多...</span>
              <a href="" class="color-blue">查看详情</a>
            </li>
            <li class="clearfix">
              <div class="fl">
                <span class="tag-container mr20">
                  <span class="tag tag-tmall"></span>
                  <span class="color-l">天猫</span>
                </span>
                <span class="tag-container mr20">
                  <span class="tag tag-coupon">
                    <span class="icon"></span>
                    <span class="money">
                      <span>60</span>元
                    </span>
                  </span>
                </span>
                <span class="color-l mr20">现价：¥32.8</span>
                <span class="color-brand number number-18">
                  <span>券后价：</span>
                  <span class="yuan" p-id="7818">￥</span>
                  <span class="integer" p-id="7820">26</span>
                  <span class="pointer" p-id="7822">.</span>
                  <span class="decimal" p-id="7824">99</span>
                </span>
              </div>
              <div class="fr">
                <a href="" class="btn btn-brand">立即领券购买</a>
              </div>
            </li>
          </ul>
        </div>

        <a href="/channel/haohuo" class="feed-more">查看全部</a>
      </div>
    </div>
  </div>
</div>