<div class="page-favorites">
  <div class="item-list clearfix">
    <div class="block-grid">
      <div class="img">
        <a href="/item/detail?id="><img src="http://gaitaobao2.alicdn.com/tfscom/i2/1072991202/TB2uRE4p0hvOuFjSZFBXXcZgFXa_!!1072991202.jpg_400x400"></a>
        <span class="del quanfont icon-shanchu"></span>
      </div>
      <div class="attr">
        <div class="row title">
          <a href="/item/detail?id=">经典小黑裙复古极简背心式连衣裙</a>
        </div>
        <div class="row clearfix">
          <span class="fl color-l">现价：{{{69|toMoneySymbol}}}</span>
          <span class="fr color-brand">券后价：{{{49|toMoneySymbol}}}</span>
        </div>
      </div>
    </div>

    <div class="block-grid">
      <div class="img">
        <a href=""><img src="https://img.alicdn.com/imgextra/i3/1762911982/TB2s2l_lH_0UKFjy1XaXXbKfXXa_!!1762911982.jpg_400x400"></a>
        <span class="del quanfont icon-shanchu"></span>
      </div>
      <div class="attr">
        <div class="row title">
          <a href="">经典小黑裙复古极简背心式连衣裙</a>
        </div>
        <div class="row clearfix">
          <span class="fl color-l">现价：{{{69|toMoneySymbol}}}</span>
          <span class="fr color-brand">券后价：{{{49|toMoneySymbol}}}</span>
        </div>
      </div>
    </div>

    <div class="block-grid">
      <div class="img">
        <a href=""><img src="http://gd3.alicdn.com/imgextra/i3/TB1zAQuRpXXXXbjXVXXYXGcGpXX_M2.SS2_400x400"></a>
        <span class="del quanfont icon-shanchu"></span>
      </div>
      <div class="attr">
        <div class="row title">
          <a href="">经典小黑裙复古极简背心式连衣裙</a>
        </div>
        <div class="row clearfix">
          <span class="fl color-l">现价：{{{69|toMoneySymbol}}}</span>
          <span class="fr color-brand">券后价：{{{49|toMoneySymbol}}}</span>
        </div>
      </div>
    </div>

    <div class="block-grid">
      <div class="img">
        <a href=""><img src="http://img.alicdn.com/imgextra/i4/2099823784/TB2E_m9aCvHfKJjSZFPXXbttpXa_!!2099823784.jpg_400x400"></a>
        <span class="del quanfont icon-shanchu"></span>
      </div>
      <div class="attr">
        <div class="row title">
          <a href="">经典小黑裙复古极简背心式连衣裙</a>
        </div>
        <div class="row clearfix">
          <span class="fl color-l">现价：{{{69|toMoneySymbol}}}</span>
          <span class="fr color-brand">券后价：{{{49|toMoneySymbol}}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="pager-container" mx-view="app/coms/pagination/pagination"
    view-total="10"
    view-page="1" mx-change="pageChange()">
  </div>
</div>