<div class="page-channel">
  <div class="category-filter">
    <div class="filter-row clearfix">
      <div class="filter-hd">
        品牌
      </div>
      <div class="filter-bd">
        <a href="">耐克（NIKE）</a>
      </div>
      <div class="filter-ft">
        
      </div>
    </div>
    <div class="filter-row clearfix">
      <div class="filter-hd">
        类型
      </div>
      <div class="filter-bd">
        <a href="">跑步鞋</a>
        <a href="">篮球鞋</a>
        <a href="">运动包</a>
      </div>
      <div class="filter-ft">
        
      </div>
    </div>
  </div>

  <div class="sort-filter">
    <ul class="clearfix">
      <li class="selected">最新</li>
      <li>最热</li>
      <li>价格</li>
      <li>优惠额</li>
      <li>优惠力度</li>
    </ul>
  </div>

  <div class="item-list clearfix">
    <div class="block-grid">
      <div class="img">
        <a href="/item/detail?id=">
          <img src="http://gaitaobao2.alicdn.com/tfscom/i2/1072991202/TB2uRE4p0hvOuFjSZFBXXcZgFXa_!!1072991202.jpg_400x400">
          <div class="lq">
            <div class="bd">
              <div class="line1 f14">领优惠券</div>
              <div class="line2 f16">省 <span class="f22">10</span> 元</div>
            </div>
            <div class="ft"></div>
          </div>
        </a>
      </div>
      <div class="attr">
        <div class="row title">
          <a href="/item/detail?id=">经典小黑裙复古极简背心式连衣裙</a>
        </div>
        <div class="row clearfix">
          <span class="fl color-l">现价：{{{69|toMoneySymbol}}}</span>
          <span class="fr tag-container">
            <span class="tag tag-taobao"></span>
            <span class="color-l">淘宝</span>
          </span>
        </div>
        <div class="row">
          <span class="fl color-brand">
            券后价：<span class="number number-32">{{{49|toMoneySymbol}}}</span>
          </span>
          <span class="fr mt15">
            <a href="" class="btn btn-brand">立即领券</a>
          </span>
        </div>
      </div>
    </div>

    <div class="block-grid">
      <div class="img">
        <a href="">
          <img src="https://img.alicdn.com/imgextra/i3/1762911982/TB2s2l_lH_0UKFjy1XaXXbKfXXa_!!1762911982.jpg_400x400">
          <div class="lq">
            <div class="bd">
              <div class="line1 f14">领优惠券</div>
              <div class="line2 f16">省 <span class="f22">10</span> 元</div>
            </div>
            <div class="ft"></div>
          </div>
        </a>
      </div>
      <div class="attr">
        <div class="row title">
          <a href="">经典小黑裙复古极简背心式连衣裙</a>
        </div>
        <div class="row clearfix">
          <span class="fl color-l">现价：{{{69|toMoneySymbol}}}</span>
          <span class="fr tag-container">
            <span class="tag tag-taobao"></span>
            <span class="color-l">淘宝</span>
          </span>
        </div>
        <div class="row">
          <span class="fl color-brand">
            券后价：<span class="number number-32">{{{49|toMoneySymbol}}}</span>
          </span>
          <span class="fr mt15">
            <a href="" class="btn btn-brand">立即领券</a>
          </span>
        </div>
      </div>
    </div>

    <div class="block-grid">
      <div class="img">
        <a href="">
          <img src="http://gd3.alicdn.com/imgextra/i3/TB1zAQuRpXXXXbjXVXXYXGcGpXX_M2.SS2_400x400">
          <div class="lq">
            <div class="bd">
              <div class="line1 f14">领优惠券</div>
              <div class="line2 f16">省 <span class="f22">10</span> 元</div>
            </div>
            <div class="ft"></div>
          </div>
        </a>
      </div>
      <div class="attr">
        <div class="row title">
          <a href="">经典小黑裙复古极简背心式连衣裙</a>
        </div>
        <div class="row clearfix">
          <span class="fl color-l">现价：{{{69|toMoneySymbol}}}</span>
          <span class="fr tag-container">
            <span class="tag tag-taobao"></span>
            <span class="color-l">淘宝</span>
          </span>
        </div>
        <div class="row">
          <span class="fl color-brand">
            券后价：<span class="number number-32">{{{49|toMoneySymbol}}}</span>
          </span>
          <span class="fr mt15">
            <a href="" class="btn btn-brand">立即领券</a>
          </span>
        </div>
      </div>
    </div>

    <div class="block-grid">
      <div class="img">
        <a href="">
          <img src="http://img.alicdn.com/imgextra/i4/2099823784/TB2E_m9aCvHfKJjSZFPXXbttpXa_!!2099823784.jpg_400x400">
          <div class="lq">
            <div class="bd">
              <div class="line1 f14">领优惠券</div>
              <div class="line2 f16">省 <span class="f22">10</span> 元</div>
            </div>
            <div class="ft"></div>
          </div>
        </a>
      </div>
      <div class="attr">
        <div class="row title">
          <a href="">经典小黑裙复古极简背心式连衣裙</a>
        </div>
        <div class="row clearfix">
          <span class="fl color-l">现价：{{{69|toMoneySymbol}}}</span>
          <span class="fr tag-container">
            <span class="tag tag-taobao"></span>
            <span class="color-l">淘宝</span>
          </span>
        </div>
        <div class="row">
          <span class="fl color-brand">
            券后价：<span class="number number-32">{{{49|toMoneySymbol}}}</span>
          </span>
          <span class="fr mt15">
            <a href="" class="btn btn-brand">立即领券</a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="pager-container" mx-view="app/coms/pagination/pagination"
    view-total="200"
    view-page="1" mx-change="pageChange()">
  </div>
</div>