<div class="header clearfix">
  <div class="head-bd wrap">
    <a class="head-logo" href="/" vclick-ignore="true"></a>
    <div class="search-group clearfix">
      <div class="search-group-input">
        <input type="text" autofocus="true" class="search-inp input" id="q" value="{{q}}" placeholder="请输入关键词" autocomplete="off" bx-name="app/exts/suggest/index"/>
      </div>
      <div class="search-group-btn">
        <button class="btn btn-brand search-btn" mx-click="search()">搜索</button>
      </div>
    </div>
  </div>
</div>
<div class="main-nav">
  <div class="nav-bd wrap clearfix">
    <ul class="nav-wrap clearfix">
      <li><a href="/">首页</a></li>
      <li><a href="/channel/baokuan">热销爆款</a></li>
      <li><a href="/channel/9kuai9">白菜价</a></li>
      <li><a href="/channel/haohuo">发现好货</a></li>
    </ul>
    <ul class="login-wrap">
      <!-- <li class="login-trigger" mx-click="login()">登录</li> -->
      <li class="menu">
        <span class="menu-trigger">
          <span class="avatar avatar-1"></span>
          <span class="nick">用户名称</span>
          <span class="quanfont icon-moreunfold arrow"></span>
        </span>
        <div class="menu-panel">
          <a href="/user/setting" class="menu-item">账号管理</a>
          <a href="/user/favorites" class="menu-item">收藏的宝贝</a>
        </div>
      </li>
    </ul>
  </div>
</div>