<div class="header header-manage clearfix">
  <div class="head-bd wrap">
    <a class="head-logo" href="/" vclick-ignore="true"></a>
    <div class="sub-title">个人中心</div>
    <div class="search-group clearfix">
      <div class="search-group-input">
        <input type="text" autofocus="true" class="search-inp input" id="q" value="{{q}}" placeholder="请输入关键词" autocomplete="off" bx-name="app/exts/suggest/index"/>
      </div>
      <div class="search-group-btn">
        <button class="btn btn-brand search-btn" mx-click="search()">搜索</button>
      </div>
    </div>
  </div>
</div>