<div class="login-panel">
  <div class="hd">
    <span class="quanfont icon-denglu"></span>
    用户登录
  </div>
  <div class="bd">
    <div class="title">
      <span class="left-line"></span>
      <span class="right-line"></span>
      请选择快捷登录方式
    </div>
    <div class="union-login clearfix">
      <a class="login-item" href="">
        <span class="weibo"></span>
        <span>微博</span>
      </a>
      <a class="login-item" href="">
        <span class="weixin"></span>
        <span>微信</span>
      </a>
      <a class="login-item" href="">
        <span class="qq"></span>
        <span>QQ</span>
      </a>
    </div>
  </div>
</div>